# Firebase
EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyDmLuu3Cy2AnExsr_xVmR3g3q3vM52UlqQ"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="study-buddy-a6c53.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="study-buddy-a6c53"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="study-buddy-a6c53.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="YOUR_MESSAGING_SENDER_ID"
EXPO_PUBLIC_FIREBASE_APP_ID="1:1034943554269:web:9cf2129dec308e9582f134"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID="G-YEKKYBQNPF"

# Supabase
EXPO_PUBLIC_SUPABASE_URL="YOUR_SUPABASE_URL"
EXPO_PUBLIC_SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"